$bg_color: #02569C;  
$font_family:"Nunito", sans-serif;
$color_main: #d1dee9;
$color_add_pink: #FF4076;
$color_add_aqua: #00BCD4;
$color_bg_add:#3578B0;



$width_content: 1170px;
$adaptive_width_content:calc($width_content/2)